gris = rgba(147, 149, 152, 1)
rosado = rgba(170, 28, 100, 1)
celeste = #02aec3
negro = rgba(1, 1, 1, 1)
grisClaro = #e1e1e1
transparente = rgba(1, 1, 1, 0.4)

.inicioApoyo
  width: 100vw
  height: 38vw
  background: url('images/apoyo-full.jpg')
  background-size: cover
  background-attachment: fixed
  @media(max-width: 1280px)
    background: url('images/apoyo-med.jpg')
    background-size: cover
    background-attachment: fixed
  @media(max-width: 800px)
    background: url('images/apoyo-tab.jpg')
    background-size: cover
    height: auto
    background-attachment: fixed
  @media(max-width: 600px)
    background: url('images/apoyo-cel.jpg')
    background-size: cover
    background-attachment: fixed
  .apoyoTexto
    width: 50vw
    height: 100%
    background: transparente
    display: flex
    justify-content: center
    align-items: center
    @media(max-width: 800px)
      width: 100vw
      height: auto
    hgroup
      width: 90%
      height: auto
      color: grisClaro
