.pasos, .joyero
 display: flex
 justify-content: center
 align-items: center
 hgroup 
  height: 90%
  width: 90%
  ul 
    margin-top: 3vw
    height: 80%
    display: flex
    flex-wrap: wrap
    justify-content: center
    li
      width: 70%