gris = #939598
rosado = #9D3973
celeste = #02aec3
negro = #231f20
grisClaro = #e1e1e1

header
 width 100%
 height 64px
 background black
 line-height 64px
 top 0
 a
   margin-left 30px
   display flex
   line-height: 64px
   text-decoration none
   .logo
    margin 7px 3px 0 0
    background url('images/logo.png')
    background-size contain
    repeat none
    height 50px
    width 50px
    // @media screen and (min-resolution: 2dppx)
    //  background url('imagenes/sumergidaLogo2x.png') cover
    // @media screen and (min-resolution: 3dppx)
    //  background url('imagenes/sumergidaLogo3x.png') cover
   h1
    color grisClaro
nav
 position absolute
 right 0
 top 0
 line-height 64px
 @media(max-width: 600px)
  top 64px
  background grisClaro
  width 100%
  transition 1s ease
 ul
  display flex
  margin 0
  padding 0
  @media(max-width: 600px)
   width 100%
   display block
  li
   margin-right 30px
   list-style: none
   text-align center
   @media(max-width: 600px)
    margin 0
    border-bottom: 1px solid #e1e1e1
   a
    color grisClaro
    text-decoration none
    display block
    margin 0
    @media(max-width: 600px)
     color rosado
   a:hover
    color rosado
    border-bottom: 3px solid rosado
    box-sizing: border-box
    @media(max-width: 600px)
     color grisClaro
     background rosado
  li:last-child
   @media(max-width: 600px)
    border-bottom: none
.hidden
 @media(max-width: 600px)
  right -100%
.navButton
 font-size 2rem
 position absolute
 top 10px
 right 10px
 color #e1e1e1
 @media(min-width: 600px)
  display none
