gris = rgba(147, 149, 152, 1)
rosado = #9D3973
celeste = #02aec3
negro = rgba(1, 1, 1, 1)
grisClaro = #e1e1e1
transparente = rgba(1, 1, 1, 0.2)

body
  margin 0
  h1
    font-family: 'Rubic', sans-serif
    font-size 2rem
    font-weight: bold
    margin: 0
  h2
    font-family: 'Rubic', sans-serif
    font-size 2rem
    font-weight: 500
  a
    font-family: 'Rubic', sans-serif
    font-size: 1rem
    text-decoration: none
  h3
    font-family: 'Crafty Girls', cursive
    font-size 1.5rem
    @media(max-width: 600px)
      font-size: 1rem
  h4
    font-family: 'Work Sans', sans-serif
    font-size 0.75rem
    font-weight: 300
  p
    font-family: 'Cinzel', serif
    font-size: 1rem
    line-height: 1.5rem
header
 width 100%
 height 64px
 box-sizing: border-box
 padding 0 5vw 0 5vw
 display: flex
 justify-content: space-between
 background transparente
 position: fixed
 transition: all 0.5s linear
 .logoContainer
   width: 250px
   display flex
   justify-content: space-between
   align-items: center
   opacity: 0
   transition: opacity 0.5s linear
   .logo
     background url('images/logo.png')
     background-size contain
     repeat none
     height 50px
     width 50px
    // @media screen and (min-resolution: 2dppx)
    //  background url('imagenes/sumergidaLogo2x.png') cover
    // @media screen and (min-resolution: 3dppx)
    //  background url('imagenes/sumergidaLogo3x.png') cover
   h1
    color grisClaro
nav
  line-height 64px
  width: 40vw
  display: flex
  justify-content: space-between
  transition all ease 1s
  @media(max-width: 900px)
    position absolute
    top 64px
    right: 0
    background grisClaro
    width 100vw
    transition ease 1s
    height: 384px
    flex-wrap: wrap
  a
   color grisClaro
   @media(max-width: 900px)
    color rosado
    width: 100%
    text-align: center
  a:hover
    color rosado
    border-bottom: 3px solid rosado
    box-sizing: border-box
    @media(max-width: 900px)
      color grisClaro
      background rosado
.hidden
  @media(max-width: 900px)
    right -100vw
.navButton
  font-size 2rem
  color #e1e1e1
  height: 64px
  line-height: 64px
  @media(min-width: 900px)
    display none
.blanco
  background: negro
  .logoContainer
    opacity: 1
