gris = rgba(147, 149, 152, 1)
rosado = #9D3973
celeste = #02aec3
blanco = rgba(240, 240, 240, 1)
transparente = rgba(250, 250, 250, 0.2)

header
 width 100vw
 height 5vw
 box-sizing: border-box
 padding 0 5vw 0 5vw
 display: flex
 justify-content: space-between
 background transparente
 position: fixed
 transition: all 0.3s linear
 z-index 5
 @media(max-width: 800px)
  height: 15vw
 .logoContainer
   width: 21vw
   display flex
   justify-content: space-between
   align-items: center
   opacity: 0
   transition: opacity 0.5s linear
   text-decoration: none
   @media(max-width: 800px)
    width: 52vw
   .logo
     height 4vw
     width 4vw
     @media(max-width: 800px)
      height 12vw
      width: 12vw
    // @media screen and (min-resolution: 2dppx)
    //  background url('imagenes/sumergidaLogo2x.png') cover
    // @media screen and (min-resolution: 3dppx)
    //  background url('imagenes/sumergidaLogo3x.png') cover
    h1 
      color black
      font-size: 2.5vw
      @media(max-width: 800px)
        font-size: 6vw
nav
  line-height 5vw
  width: 40vw
  display: flex
  justify-content: space-between
  transition all ease 1s
  z-index: 3
  @media(max-width: 800px)
    position absolute
    top 15vw
    right: 0
    background blanco
    width 100vw
    transition ease 1s
    height: 100vw
    flex-wrap: wrap
    z-index: 3
  a  
    font-family: 'Yantramanav', sans-serif
    font-size 1.5vw
    font-weight: normal
    text-decoration none
    text-transform: uppercase
    color blanco
    @media(max-width: 800px)
      font-size: 4.5vw
      color rosado
      width: 100vw
      text-align: center
      line-height: 25vw
    &:hover
      color rosado
      border-bottom: 3px solid rosado
      box-sizing: border-box
      @media(max-width: 900px)
        color blanco
        background rosado
.hidden
  @media(max-width: 900px)
    right -100vw
.navButton
  font-size 2rem
  color #e1e1e1
  height: 5vw
  line-height: 15vw
  @media(min-width: 800px)
    display none
.blanco
  background: blanco
  .logoContainer
    opacity: 1
  a 
    color black
