grisClaro = #e1e1e1

.banner
  width 100vw
  height 38vw
  background: url('https://images.pexels.com/photos/121495/pexels-photo-121495.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')
  background-size cover
  background-attachment: fixed
  display: flex
  align-items: center
  justify-content: center
  .titulo
    width: auto
    height: auto
    text-align: center
    color: grisClaro
    h1
      font-size: 4rem
    h3
      font-size: 2rem
