doctype html
html(lang="en")
  head
   meta(charset="UTF-8")
   meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
   title#metaTitle=title
   meta(name='description' content=description)
   meta(name='keywords' content=keywords)
   meta(name='description', content=)
   meta(name="google-site-verification" content="D0zj4hgdmWkG9csF-H4O9w9ApqTp631hh8Uk70iWGPk")
   link(rel='stylesheet' type='text/css' href='app.css')
  body
   #header
   #main-container
   #footer
   script(type='application/javascript' src='app.js')
