
.producto
 padding-top: 10vw
 box-sizing: content-box
 height: auto
 min-height: 40vw
 .productoInfo
  width: 40vw
  h2 
   font-size: 1.5vw
  h4 
   margin-top: 2vw
   font-size: 1.5vw
  p
   margin: 0 0 1vw 6vw
   font-size: 1.3vw
  .opciones
   width: 30vw
   margin-left: 5vw
   display flex
   flex-wrap: wrap
   justify-content: space-between
   padding: 0.5vw 1vw
   box-sizing: border-box
   h4 
    font-size: 1.3vw
    margin 0
   p 
    font-size: 1.3vw
    margin: 0 0 0 1vw
    font-weight: 300
   @media(max-width: 800px)
    width: 90vw
    h3 
     font-size: 3vw
    h4 
     font-size: 3vw 
 .productoImagenes
  display flex
  justify-content: center
  padding-top: 1vw
  img
   width: 30vw
   height: 30vw
   @media(max-width: 800px)
    width: 98vw
    height 98vw