.contenedor, .completa, .mitad, .tercio, .dosTercios 
 box-sizing: border-box

body 
 margin: 0
 padding: 0

.contenedor
 padding-top 5vw
 display: flex
 flex-wrap: wrap

.completa
 width: 100vw
 height: 40vw
 @media(max-width: 800px)
  width: 100vw
  height: 125vw

.tercio
 width: 33.333vw
 height 40vw
 @media(max-width: 800px)
  width: 100vw
  height 125vw
.dosTercios
 width: 66.666vw
 height 40vw
 @media(max-width: 800px)
  width: 100vw
  height 125vw

.mitad
 width: 50vw
 height 40vw
 @media(max-width: 800px)
  width: 100vw
  height 125vw

.cuarto
 grid-column: span 3
 grid-row: span 3
 @media(max-width: 800px)
  width: 100vw
  height 125vw

.tresCuartos
 grid-column span 9
 grid-row: span 3
 @media(max-width: 800px)
  width: 100vw

.banner
 display flex
 justify-content: center
 align-items: center
 
.relativa
 position relative

.background
 position absolute
 top 0 
 left 0
 z-index -1

.texto
 padding: 5%
 @media(max-width: 800px)
  height auto

.textoLargo
 height auto
 padding: 5%

.scroll
  overflow: scroll

.imagen
 overflow hidden
 @media(max-width: 800px)
  height 125vw

.ontabebe
 transition background 0.5s linear
 div
  opacity: 0
  transition: opacity 0.5s linear 
 @media(orientation: portrait)
  background: rgba(1, 1, 1, 0.3)
  div
   opacity: 1 

.flex
 display flex
 @media(max-width: 800px)
   min-height: 125vw
   height auto
   flex-wrap: wrap

.flexLeft
 justify-content: flex-start
 @media(max-width: 800px)
   align-items: flex-end

.flexRight
  justify-content: flex-end

.ontabebe:hover
 background: rgba(1, 1, 1, 0.3)
 div
  opacity: 1 

.lista
  width: 100vw
  height: auto
  display: grid
  padding: 3vw
  grid-gap: 2vw
  grid-template-columns: repeat(3, 1fr)
  flex-wrap: wrap
  @media(orientation portrait)
   grid-template-columns: repeat(1, 1fr)

.tarjeta
  height: 40vw
  flex-wrap: wrap
  background: #ddd
  box-shadow: grey 1px 1px 5px
  position relative
  z-index: 0
  margin-bottom: 2.5vw
  @media(orientation portrait)
   height: 133.33vw
  &:hover
    box-shadow: grey 5px 5px 10px
  .tarjetaImagen
    background: grey 
    width: 100%
    height: 60%
  .tarjetaInfo 
    height: 32%
    width: 68%
    background: white 
    position absolute 
    bottom: 0
    left: 4%
    margin: auto
    overflow: hidden
    padding 12%

    hgroup
      display flex
      flex-wrap: wrap
      align-items: center
      h3  
        font-family: 'Mandali', sans-serif
        font-family: 'Century Gothic', sans-serif
        font-weight: normal
        font-size 3vw
        margin 0
        padding 0
        font-size: 2vw
        @media(max-width: 800px)
          font-size: 6vw
      h4 
        width: 100%
        @media(max-width:800px)
          font-size: 4vw
.video
  width: 48vw
  height 27vw
  margin 2vw 26vw
  @media(max-width:800px)
    justify-items: center
    width: 90vw
    margin: 2vw 
    height 56.25vw

.form
  display: flex
  flex-wrap: wrap
  input
    width: 28vw
    height: 2.34vw
    margin-bottom: 0.5vw
    font-family: 'Work Sans', sans-serif
    font-size: 1.3vw
    @media(max-width: 800px)
      width: 80vw 
      height: 10vw
      font-size: 4vw
  textarea
    width: 28vw
    font-family: 'Work Sans', sans-serif
    font-size: 1.3vw
    @media(max-width: 800px)
      width: 80vw 
      font-size: 4vw
  .btn
    width: 12.5vw
    height: 4vw
    float right
    @media(max-width: 800px)
      width: 50vw 
      height:8vw
      font-size: 3vw
  .btn:hover
    cursor: pointer
    background: grisClaro
    color: negro
.whatsApp
  display: block
  height 2vw
  line-height: 2vw
  width: 10vw
  background: #5DD866
  color #ffffff
  font-size: 1vw
  font-family: 'Mandali', sans-serif
  text-align: center
  border-radius: 6%
  &:hover
    background: #4cc755
    color #eeeeee
  @media(max-width: 800px)
    width: 50vw
    height 10vw
    line-height: 10vw
    font-size: 5vw
.callToAction
  margin: 2vw auto
