.whiteText
 color rgba(240, 240, 240, 1)

.blackText
 color rgba(5, 5, 5, 1)

.blanco
  background: rgba(240, 240, 240, 1)
  color rgba(5, 5, 5, 1)

.gris
  background: grey

.negro
  background: rgba(1, 1, 1, 1)
  color: rgba(240, 240, 240, 1)

.negroTrans
  background: rgba(1, 1, 1, 0.3)
  color: rgba(240, 240, 240, 1)

.rosa
  background: rgba(242, 37, 147, 1)
  color: rgba(240, 240, 240, 1)
  
.rosaTrans
  background: rgba(242, 37, 147, 0.6)
  color: rgba(240, 240, 240, 1)