gris = rgba(147, 149, 152, 1)
rosado = rgba(170, 28, 100, 1)
celeste = #02aec3
negro = rgba(1, 1, 1, 1)
grisClaro = #e1e1e1
transparente = rgba(170, 28, 100, 0.6)

.contacto
  height: 80vw
  display: flex
  align-items: center
  justify-content: space-between
  background: url('/images/contacto-full.jpg')
  background-size: cover
  background-attachment: fixed
  @media(max-width: 1280px)
    background: url('/images/contacto-med.jpg')
    background-size: cover
    background-attachment: fixed
  @media(max-width: 800px)
    background: url('/images/contacto-tab.jpg')
    background-size: contain
    background-attachment: fixed
    height: 180vw
  @media(max-width: 600px)
    background: url('/images/contacto-cel.jpg')
    background-size: cover
    background-attachment: fixed
  .contactoInfo
    width: 35vw
    height: 80vw
    padding-top: 5vw
    @media(max-width: 800px)
      width: 100vw
      height: 180vw
    div
      color: grisClaro
      width: 80%
      height: auto
      h2
        margin-top: 0
.tematica
  width: 28vw
  li 
    list-style: none
    margin-bottom: 1vw
  .radio
    width: auto
    height:1vw
  label 
    height  2.34
    vertical-align: center
.birthday
  width: 2.5vw
.button
  width: 6vw
  