.videoPasos
  flex-wrap: wrap
  height: auto
  h2 
    width 100vw
    text-align: center
  iframe 
   width: 48vw
   height 27vw
   margin 3vw 0
   @media(max-width: 760px)
     width: 80vw
     height 45vw