@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Tillana:400,600|Work+Sans:800'
@import '../src/header/header.styl'
@import '../src/footer/footer.styl'
@import '../src/home/home.styl'

body
 margin 0
 font-family 'Roboto Condensed', sans-serif
 h1
  font-family: 'Work Sans', sans-serif
  font-size 2rem
 h2
  font-family: 'Work Sans', sans-serif;
  font-size 1rem
 h3, a
  font-family: 'Roboto Condensed', sans-serif
  font-size 1rem
  font-weight: 400
 h4
  font-family: 'Tillana', cursive
  font-size 1rem
