@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
@import 'https://fonts.googleapis.com/css?family=Cinzel|Crafty+Girls|Rubik:500,700|Work+Sans:300'
@import '../src/header/index.styl'
@import '../src/footer/index.styl'
@import '../src/inicio/index.styl'
@import '../src/inicioBanner/index.styl'
@import '../src/inicioAbout/index.styl'
@import '../src/artesanas/artesanas.styl'
@import '../src/producto/producto.styl'
@import '../src/productoLista/lista.styl'
