@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'
@import 'https://fonts.googleapis.com/css?family=Cinzel|Crafty+Girls|Rubik:500,700|Work+Sans:300'
@import '../src/header/header.styl'
@import '../src/footer/footer.styl'
@import '../src/home/home.styl'
@import '../src/banner/banner.styl'
@import '../src/homeAbout/homeAbout.styl'
@import '../src/artesanas/artesanas.styl'
@import '../src/producto/producto.styl'
@import '../src/productoLista/lista.styl'
