rosado = #9D3973

.productoLista
  width 100%
  @media screen and (min-width: 760px)
    width 92%
    margin auto
    display flex
    justify-content: space-between
    flex-wrap: wrap
  .card
    color white
    display: inline-block
    width: 90%
    margin-bottom: 10px
    margin-left: 5%
    border 1px solid #e1e1e1
    text-decoration: none
    @media screen and (min-width: 760px)
      margin-left: 0
      width: 24%
      margin-top 10px
    h3
      background rosado
      height: 30px
      line-height: 30px
      margin 0
      padding-left 2em
    .cardImagen
      height 300px
      width 90%
      margin 5%
      background Grey
    h4
      background rosado
      height: 30px
      line-height: 30px
      margin 0
      padding-left 80%
