.home
  background: black
.linea
  display: flex
  .cuadro
    width: 50vw
    height: 40vw
  .red
    background: red
  .blue
    background: blue
section
  height: 100vh
  width: 100%
.fondo
  background: url('https://images.pexels.com/photos/160166/pexels-photo-160166.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')
  background-size: cover
  background-attachment: fixed
.fondo2
  background: url('https://images.pexels.com/photos/243151/pexels-photo-243151.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')
  background-size: cover
  background-attachment: fixed
