gris = rgba(147, 149, 152, 1)
rosado = rgba(242, 37, 147, 1)
celeste = #02aec3
negro = rgba(1, 1, 1, 1)
blanco = rgba(240, 240, 240, 1)
transparente = rgba(1, 1, 1, 0.2)

.banner
  position fixed
  z-index: -10
.portadaTitulo
  text-align: center
  h1
    background: url('images/folkInLove-letras.png')
    background-size: cover
    margin auto
    width: 30vw
    height 5vw
    span 
      font-size: 0.01px
      height: 1px
.inicioAbout
  display: flex
  @media(max-width: 800px)
    flex-wrap: wrap
  .aboutImagen
    padding: 0
.inicioIdentidad
  width: auto
  height: auto
  .identidadImagenes
    display: flex
    justify-content: center
    @media(max-width: 800px)
      flex-wrap: wrap
    .identidadImagen
      text-transform: none
      text-decoration: none
      @media(max-width:800px)
        width: 100vw
        height: 120vw
        padding: 0
      .identidadInfo
        width: 33.33vw
        height: 40vw
        display: flex
        justify-content: center
        align-items: center
        opacity: 0
        transition: opacity 0.5s linear
        @media(max-width: 800px)
          width: 100vw
          height: 120vw
        &:hover
          opacity: 1
        hgroup
          text-align: center
    .identidadFotos
      z-index: -2
      position: absolute
      padding: 0
      
.inicioApoyo
  background: url('images/apoyo-full.jpg')
  background-size: cover
  background-attachment: fixed
  justify-content: space-between
  @media(max-width: 1280px)
    background: url('images/apoyo-med.jpg')
    background-size: cover
    background-attachment: fixed
  @media(max-width: 800px)
    background: url('images/apoyo-tab.jpg')
    background-size: cover
    height: auto
    background-attachment: fixed
  @media(max-width: 600px)
    background: url('images/apoyo-cel.jpg')
    background-size: cover
    background-attachment: fixed
.identidadTexto
  hgroup
    width: 90vw