gris = rgba(147, 149, 152, 1)
rosado = rgba(242, 37, 147, 1)
celeste = #02aec3
negro = rgba(1, 1, 1, 1)
blanco = rgba(240, 240, 240, 1)
transparente = rgba(1, 1, 1, 0.2)

.banner
  width 100vw
  height 39.6vw
  position fixed
  z-index: -10
  @media(max-width: 1280px)
    background: url('images/banner-med.jpg')
    background-size: contain
    background-repeat: no-repeat
    background-attachment: fixed
  @media(max-width: 800px)
    background: url('images/banner-tab.jpg')
    background-size: contain
    background-attachment: fixed
    height: 80vw
    align-items: flex-start
  @media(max-width: 600px)
    background: url('images/banner-cel.jpg')
    background-size: contain
    background-attachment: fixed
    height: 80vw
.portadaTitulo
  text-align: center
.inicioAbout
  display: flex
  @media(max-width: 800px)
    flex-wrap: wrap
  .aboutImagen
    background: url('images/about-full.jpg')
    background-size: contain
    @media(max-width: 1280px)
      background: url('images/about-med.jpg')
      background-size: contain
    @media(max-width: 800px)
      background: url('images/about-tab.jpg')
      background-size: contain
    @media(max-width: 600px)
      background: url('images/about-cel.jpg')
      background-size: contain
.inicioIdentidad
  width: auto
  height: auto
  .identidadImagenes
    display: flex
    justify-content: center
    @media(max-width: 800px)
      flex-wrap: wrap
    .identidadImagen
      text-transform: none
      text-decoration: none
      @media(max-width:800px)
        width: 100vw
        height: 120vw
      .identidadInfo
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        opacity: 0
        transition: opacity 0.5s linear
        @media(max-width:800px)
          width: 100vw
          height: 120vw
        &:hover
          opacity: 1
        hgroup
          text-align: center
    .identidadFotos
      width: 33.33vw
      z-index: -2
      position: absolute
      
.inicioApoyo
  background: url('images/apoyo-full.jpg')
  background-size: cover
  background-attachment: fixed
  justify-content: space-between
  @media(max-width: 1280px)
    background: url('images/apoyo-med.jpg')
    background-size: cover
    background-attachment: fixed
  @media(max-width: 800px)
    background: url('images/apoyo-tab.jpg')
    background-size: cover
    height: auto
    background-attachment: fixed
  @media(max-width: 600px)
    background: url('images/apoyo-cel.jpg')
    background-size: cover
    background-attachment: fixed
