#vestuarioPortada 
 background: url('images/vestuarios-full.jpg')
 background-size contain
 background-repeat: no-repeat
 background-attachment: fixed
 p
  font-size: 1.8vw
  letter-spacing: 0.2vw
  line-height: 2vw