.album
 flex-wrap: wrap
 .imagenCentral
  height: 30vw
  width: 30vw
  background: grey 
 .galeria
  height: 10vw
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center
  .miniatura
   width: 8vw
   height: 8vw
   background: grey 