.artesanas
  display block
  @media screen and (min-width: 760px)
    display flex
    width: 80%
    margin auto
  .artesana
    width 92%
    display inline-block
    margin 4%
    @media screen and (min-width:760px)
      margin 0
    .artesanaImagen
      width 300px
      height 300px
      border-radius 50%
      background grey
      margin 10px auto
    .artesanaInfo
      text-align: justify
      margin 10px
      .artesanaNombre
        text-align: center
