.tiendaFoto
 position: fixed
 width: 100vw
 display: blog
.tiendaTarjeta
 .tarjetaInfo
  overflow hidden
  hgroup
   h2
    font-size: 2vw
    margin: 0
    width: 100%
   h3 
    font-size: 1.3vw
    margin:0 0 2vw 0
   h4 
    font-size: 1.3vw
    margin: 0
   p 
    margin: 1vw 0 0 3vw
 // media(max-width: 800px)
 //  h2
 //   margin: 0
 //  h3 
 //   margin:0 0 1vw 0
 //  h4 
 //   margin: 0
 //  p 
 //   margin: 1vw 0 0 3vw