gris = rgba(147, 149, 152, 1)
rosado = rgba(170, 28, 100, 1)
celeste = #02aec3
negro = rgba(1, 1, 1, 1)
grisClaro = #e1e1e1
transparente = rgba(170, 28, 100, 0.4)

.inicioIdentidad
  width: auto
  height: auto
  .identidadImagenes
    display: flex
    justify-content: center
    @media(max-width: 800px)
      flex-wrap: wrap
    .identidadImagen
      width: 33.33vw
      height: 26.664vw
      @media(max-width: 800px)
        width: 100vw
        height: 80vw
      .identidadInfo
        width: 100%
        height: 100%
        background: transparente
        display: flex
        justify-content: center
        align-items: center
        color: grisClaro
        opacity: 0
        transition: opacity 0.5s linear
        &:hover
          opacity: 1
        hgroup
          text-align: center
    .identidad1
      background: url('images/identidad-1.jpg')
      background-size: cover
    .identidad2
      background: url('images/identidad-2.jpg')
      background-size: cover
    .identidad3
      background: url('images/identidad-3.jpg')
      background-size: cover
  .identidadTexto
    width: 100vw
    height: 640px
    background: grisClaro
    display: flex
    justify-content: center
    align-items: center
    @media(max-width: 600px)
      height: auto
    hgroup
      width: 50vw
      height: auto
      @media(max-width: 600px)
        width: 90vw
