#danzasPortada 
 background: url('images/danzas-full.jpg')
 background-attachment: fixed
 background-size: contain
 background-repeat: no-repeat
 p
  font-size: 1.8vw
  letter-spacing: 0.2vw
  line-height: 2vw