#danzasPortada 
 background: url('images/danzas-full.jpg')
 background-attachment: fixed
 background-size: contain
 background-repeat: no-repeat
 @media(max-width:800px)
  background: url('images/danzas-tab.jpg')
  background-attachment: fixed
  background-size: contain
  background-repeat: no-repeat
 @media(max-width:600px)
  background: url('images/danzas-cel.jpg')
  background-attachment: fixed
  background-size: contain
  background-repeat: no-repeat
 p
  font-size: 1.8vw
  letter-spacing: 0.2vw
  line-height: 2vw
  @media(max-width: 800px)
    font-size: 5.4vw
    letter-spacing: 0.6vw
    line-height: 6vw